<span>Click me!</span>

<style>

  /* Write your CSS here to make the span look like a button. */

  .fancy-button {
    background-color: blue;
    padding: 10px;
    color: white;
    border-radius: 5px;

  }

  .fancy-button:hover{
    
  }

</style>
